article{
    width: 100%;
    padding: 150px 0;
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
}
.container {
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 2;
}
.container span {
    background-image: url(img/logo.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    border: 5px solid #bec1c9;
    margin: 0 30px;
}
.container p {
    padding-bottom: 20px;
    text-align: justify;
}